<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if current_item == item %}
    <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="">{{ item.name }}</a>
        {% if item.child_items %}
            <ul>
            {% for child in item.child_items %}
                {% include 'menu/menu_item.html' with item=child %}
            {% endfor %}
            </ul>
        {% endif %}
    </li>


</body>
</html>